.DS_Store
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.xcuserstate
*.xcuserdatad/
*.moved-aside
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.swp
*~

.env
.env.*
!.env.example

.build/
.swiftpm/
DerivedData/
coverage/

node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
